body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.data-row {
  width: 150px;
  margin: 2px auto;
  border: solid 1px;
  border-radius: .2em;
  border-color: black;
  padding: 1px;
  cursor: pointer;
}

.data-row:hover {
  background-color: lightblue;
}

.end-text {
  color: black;
  background-color: red;
  height: 200px;
}

.fixed-btn,
.fixed-btn-add {
  position: fixed;
  width: 120px;
  background-color: coral;
  color: white;
  font-weight: 700;
  border: solid 1px;
  border-radius: .4em;
  padding: .7em;
  cursor: pointer;
}

.fixed-btn {
  left: 10px;
}

.fixed-btn-add {
  left: 200px;
}

.fixed-btn:hover {
  opacity: .8;
}
